@media screen and (max-width: 1200px) {
  body {
    font-size: 16px;
  }

  .header .target {
    font-size: 20px;
  }

  .sale {
    padding-top: 50px;
  }
  .sale h2.title {
    margin-top: 20px;
  }

  .gucci h2.title {
    margin-bottom: 320px;
  }

  .present {
    padding-top: 100px;
  }

  footer {
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  body {
    font-size: 14px;
  }

  h2.title {
    font-size: 25px;
  }

  .header .target {
    font-size: 18px;
  }

  .barber .block {
    padding-top: 40px;
  }
  .barber .position {
    font-size: 14px;
  }

  .sale {
    padding-top: 20px;
  }
  .sale h2.title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .sale p {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .gucci .glasses {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .gucci h2.title {
    margin-top: 70px;
    margin-bottom: 220px;
  }

  .present {
    padding-top: 80px;
  }
  .present h2.title {
    margin-top: 0;
  }

  footer {
    font-size: 11px;
  }
}
@media screen and (max-width: 767px) {
  h2.title {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
  }

  .header {
    padding-top: 0;
    padding-bottom: 30px;
  }
  .header .target {
    margin-top: 20px;
  }
  .header .title1, .header .title2 {
    margin-top: 20px;
  }
  .header .block {
    border-right: none;
  }

  .quality {
    padding-top: 0;
  }
  .quality .subtitle {
    margin-top: 15px;
  }

  .barber .block {
    padding-top: 20px;
  }
  .barber .position {
    font-size: 12px;
  }

  .sale {
    padding-top: 20px;
  }
  .sale h2.title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .sale p {
    text-align: center;
  }
  .sale .discount {
    max-width: 300px;
  }

  .gucci h2.title {
    margin-top: 30px;
    margin-bottom: 220px;
  }

  .gucci .face-wrap1 {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -70px;
    min-width: 300px;
  }

  .present {
    padding-top: 70px;
  }
  .present .subtitle {
    margin: 20px 0;
  }
  .present .gift {
    max-width: 300px;
    margin: 0 auto;
  }

  footer {
    padding-bottom: 20px;
    padding-top: 50px;
  }
  footer .logo {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  footer .block {
    margin-bottom: 40px;
    max-width: 80px;
  }
}
@media screen and (max-width: 575px) {
  body {
    font-size: 12px;
  }

  .header .target {
    font-size: 16px;
  }

  .header .block {
    padding: 30px 0;
  }

  .button {
    padding: 10px 30px;
  }

  .barber .block {
    padding-top: 0;
  }

  .gucci .face-wrap1 {
    min-width: 300px;
  }
  .gucci .face-wrap1, .gucci .face-wrap2 {
    padding: 10px;
  }
}
